@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

.insta-lock-default
    padding 10px 5px

.insta-lock-settings
    display flex
    flex-direction row

    width 100%
    height calc(100% - 110px)

    border 1px solid #1e282d

    .contents
        flex 1
        position relative
        height calc(100% - 10px)

        .centered
            width 100%
            height 100%
            display flex
            justify-content center
            align-items center

        .loading-spinner
            width 40px
            height 40px

            background-image url('/fe/lol-collections/spinner.png')
            background-size 40px

            animation spin 4000ms infinite linear

        .error
            font-family 'LoL Body'
            color #a09b8c
            max-width 70%
            text-align center
        
        lol-uikit-scrollable
            padding-top 3px
            width calc(100% - 8px)
            height calc(100% - 22px)
            display flex
            flex-wrap wrap
            justify-content left
            align-content flex-start
        
        lol-uikit-champion-thumbnail
            transition opacity 0.3s ease
            width 60px
            height 80px
            margin 8px

            &[disabled]
                opacity 0.6

        lol-uikit-thumbnail
            &:hover
                border-image-source linear-gradient(to bottom, #f0e6d2 4%, #c89b3c 100%)
                cursor pointer

        lol-uikit-thumbnail /deep/ .thumbnail-inner
            transition -webkit-filter 0.3s ease